<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>filter.DispatcherFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RegisterFilter</filter-name>
        <filter-class>filter.RegisterFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DetailsGameFilter</filter-name>
        <filter-class>filter.DetailsGameFilter</filter-class>
    </filter>
    <filter>
        <filter-name>WelcomePageFilter</filter-name>
        <filter-class>filter.WelcomePageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WelcomePageFilter</filter-name>
        <url-pattern>/views/web/welcome.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DetailsGameFilter</filter-name>
        <url-pattern>/views/web/details.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RegisterFilter</filter-name>
        <servlet-name>RegistrationController</servlet-name>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>LoginController</servlet-name>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.ContextInitAction</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.web.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>controller.web.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.web.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchGameController</servlet-name>
        <servlet-class>controller.web.SearchGameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartGameController</servlet-name>
        <servlet-class>controller.web.CartGameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderGameController</servlet-name>
        <servlet-class>controller.web.OrderGameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChangeController</servlet-name>
        <servlet-class>controller.web.UserChangeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchGameController</servlet-name>
        <url-pattern>/SearchGameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartGameController</servlet-name>
        <url-pattern>/CartGameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderGameController</servlet-name>
        <url-pattern>/OrderGameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChangeController</servlet-name>
        <url-pattern>/UserChangeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
