:root {
    --height_header: 140px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Comic Sans, Comic Sans MS, cursive;
}

html {
    background-image: linear-gradient(100deg, rgb(073, 058, 107) 0%, rgb(029, 044, 092) 50%, rgb(041, 037, 071) 100%);
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to right top, rgb(135, 93, 128), rgb(199, 155, 155), rgb(237, 237, 122)); */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.content {
    min-height: calc(100vh - var(--height_header));
}

#header_space {
    width: 100%;
    height: var(--height_header);
}

.navbar {
    position: relative;
    height: var(--height_header);
    display: flex;
    align-items: stretch;
    /* justify-content: space-around; */
    color: rgb(33, 19, 21);
    /* From https://css.glass */
    background: rgba(213, 58, 213, 0.21);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.906);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.navbar:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #b294ff, #57e6e6, #feffb8, #57e6e6, #b294ff, #57e6e6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

/* Logo */
.navbar_logo {
    width: calc(var(--height_header) - 10px);
    margin-left: 100px;
    flex-shrink: 0;
    position: relative;
}

.navbar_logo img {
    width: 100%;
    box-shadow: 10px 10px 10px #191818;
    border-radius: 50%;
}

.logoText {
    font-size: 60px;
    position: absolute;
    bottom: 0;
    /* font-family: 'Brush Script MT', cursive; */
    left: 50%;
    transform: translateX(-50%);

}

#logoText {
    background: -webkit-linear-gradient(top right, #4ce15e, #8b9ae7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Brush Script MT', Tahoma, Geneva, Verdana, sans-serif;

}

/* MEMPHIS_BACKGROUND_Mesa_de_trabajo_1 */





/* right navbar */
.navbar__right {
    margin-left: 0;
    flex-grow: 1;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* action */
.navbar_actions ul {
    display: flex;
    padding-top: 10px;
}

.navbar_actions ul li {
    width: 100%;
    margin: auto auto;
    display: flex;
    align-items: center;
}

.navbar_actions ul>a {
    flex-basis: 20%;
    list-style: none;
    display: flex;
    align-items: center;
    height: 60px;
    color: #5be6ff;
    background-color: #2c383f;
    font-size: 20px;
    font-weight: 300;
    border: 2px solid rgba(43, 4, 57, 0.039);
    padding: 10px;
    text-align: center;
    transition: .3s linear;
    font-family: "Poppins", sans-serif;
    box-shadow: 5px 5px 10px#13141a;
    border-top-left-radius: 50em;
    /* 50% of height */
    border-bottom-left-radius: 50em;
    /* 50% of height */
    border-top-right-radius: 50em;
    /* 50% of height */
    border-bottom-right-radius: 50em;
    margin: 0 10px;
    position: relative;
}

.navbar_actions ul>a:hover {
    background-color: rgba(43, 4, 57, 0.792);
    color: rgb(150, 245, 19);
    cursor: pointer;
}


.navbar_actions ul>a>li>span {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
}

.user_avatar,
.navbar_actions ul>a>li>i {
    display: block;
    position: absolute;
    right: 10px;
}

/* navbar
navbar_logo
navbar_search
navbar_actions */

.navbar_search {
    box-shadow: 10px 2px 7px#13141a;
}










#input_search {
    border-style: none;
    background: transparent;
    outline: none;
}

#submit_search {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}


@keyframes gradient {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}







.webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 50%;
    margin: 0 auto;
    border-radius: 2px;
    padding: 5px 20px 5px;
    background: rgb(57, 63, 84);
    border-top-left-radius: 50em;
    /* 50% of height */
    border-bottom-left-radius: 50em;
    /* 50% of height */
    border-top-right-radius: 50em;
    /* 50% of height */
    border-bottom-right-radius: 50em;
}


.webflow-style-input input {
    flex-grow: 1;
    color: #bfd2ff;
    font-size: 1.7rem;
    line-height: 2.4rem;
    vertical-align: middle;

}

.webflow-style-input input::-webkit-input-placeholder {
    color: #7881a1;
}

.webflow-style-input button {
    color: #7881a1;
    font-size: 40px;
    line-height: 2.4rem;

}



.webflow-style-input button:hover {
    color: #bfd2ff;
    cursor: pointer;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5ac;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            right top,
            left bottom,
            color-stop(0.44, rgb(171, 122, 217)),
            color-stop(0.72, rgb(141, 73, 189)),
            color-stop(0.86, rgb(148, 28, 112)));
}


.user_avatar {
    height: 50px;
    border-radius: 50%;
}

.user_profile {
    pointer-events: none;
    color: rgb(150, 245, 19) !important;
    position: absolute;
    right: 20px;
    bottom: 0;
    background-color: #294246;
    border-radius: 5px;
    width: 17%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* From https://css.glass */
    background: rgba(22, 25, 49, 0.713);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(77, 38, 38, 0.822);
    font-family: Comic Sans, Comic Sans MS, cursive;
}

.user_profile span {
    font-size: 20px !important;
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
    white-space: nowrap;
}








input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

.logout_button {
    flex-basis: 10% !important;
    min-width: 10%;
    flex-shrink: 10%;
}